@favorite_dark: @link-color;
@favorite_light: @highlight-color;


#accordion {

  i {
    color: @favorite_dark;
  }

  .panel {
    border: none;
    border-radius: 0px;
    margin-bottom: 15px;

    .panel-heading {
      border-radius: 0px;
      background-color: #d3d3d3;

      a {

        text-decoration: none !important;

        &[aria-expanded=false] {
          i.fa-minus {
            display: none;
          }
        }

        &[aria-expanded=true] {
          i.fa-plus {
            display: none;
          }
        }
      }

    }

    /** 2nd level specific/overwrites **/
    .panel{

      margin-bottom: 0px;

      .panel-heading {
        background-color: #ffffff;
        border-bottom: 1px solid #9b9b9b;

        .institutionFavorite  {
          & > a {
            &:hover:before {
              color: @theme-color;
            }

            &:before {
              font-family: FontAwesome;
              color: @link-color;
              margin: 0 5px 0 10px;
              display: inline-block;
            }
          }
        }

        .miniaction_favorite_add  {
            & > a {
              &:before {
                content: '\f08a';
              }
            }
          }

        .miniaction_favorite_remove  {
          & > a {
            &:before {
              content: '\f004';
            }
          }
        }

      }

    }

  }

  .panel + .panel {
    margin-top: 0;
  }

}