.text-aligned-icon {
  vertical-align: -2px;
}
.text-aligned-checkbox {
  vertical-align: -4px;
}
.icon-danger {
  color: @color-danger;
  font-size: @icon-font-size;
}

.icon-success {
  color: @theme-color;
  font-size: @icon-font-size;
}